<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JFlix - <%= title %></title>

    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>
<body>

    <div id="content"></div>

    <script type="text/jsx">

        var data = [{"_id":"54b0959dfd90d3d74d8ffc65","path":"/Volumes/HULK/TV Shows/New Girl/Season 3/New Girl - S03E02 - Nerd.mkv","slug":"new-girl-s03e02-nerd","__v":0},{"_id":"54b0959dfd90d3d74d8ffc66","path":"/Volumes/HULK/TV Shows/New Girl/Season 3/New Girl - S03E03 - Double Date.mkv","slug":"new-girl-s03e03-double-date","__v":0},{"_id":"54b0959dfd90d3d74d8ffc67","path":"/Volumes/HULK/TV Shows/New Girl/Season 3/New Girl - S03E04 - The Captain.mkv","slug":"new-girl-s03e04-the-captain","__v":0},{"_id":"54b0959dfd90d3d74d8ffc68","path":"/Volumes/HULK/TV Shows/New Girl/Season 3/New Girl - S03E05 - The Box.mkv","slug":"new-girl-s03e05-the-box","__v":0}];

        var Item = React.createClass({
            render: function () {
                return (
                    <li className="commentListItem">
                        <a href={"/play/" + this.props.id}>{this.props.slug}</a>
                    </li>
                );
            }
        });

        var ItemList = React.createClass({
            render: function() {

                var itemNodes = this.props.data.map( function (item) {
                    return (
                        <Item id={item._id} slug={item.slug} />
                    );
                });

                return (
                    <ul className="commentList">
                        {itemNodes}
                    </ul>
                );
            }
        });

        var SearchBox = React.createClass({
            render: function() {
                return (
                    <div className="searchBox">
                        <h1>Search Component</h1>
                        <ItemList data={this.props.data} />
                    </div>
                );
            }
        });

        React.render(<SearchBox data={data} />, document.getElementById('content'));
    </script>

</body>
</html>