<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JFlix - <%= title %></title>

    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>
<body>

    <div id="content"></div>

    <script type="text/jsx">

        var SearchForm = React.createClass({
            handleSubmit: function (e) {
                e.preventDefault();
                var searchTerm = this.refs.searchTerm.getDOMNode().value.trim();
                if (! searchTerm) {
                    return;
                }

                this.props.onSearchSubmit({term: searchTerm});
                this.refs.searchTerm.getDOMNode().value = '';
            },
            render: function() {
                return (
                    <form className="search-form" onSubmit={this.handleSubmit}>
                        <input type="text" placeholder="Search for media..." ref="searchTerm" />
                        <input type="submit" value="Search!" />
                    </form>
                );
            }
        });

        var Item = React.createClass({
            render: function () {
                return (
                    <li className="commentListItem">
                        <a href={"/play/" + this.props.id}>{this.props.slug}</a>
                    </li>
                );
            }
        });

        var ItemList = React.createClass({
            render: function() {

                var itemNodes = this.props.data.map( function (item) {
                    return (
                        <Item id={item._id} slug={item.slug} />
                    );
                });

                return (
                    <ul className="commentList">
                        {itemNodes}
                    </ul>
                );
            }
        });

        var SearchBox = React.createClass({
            getInitialState: function() {
                return {data: []};
            },
            handleSearchSubmit: function(search) {
                $.ajax({
                    url: '/search/' + search.term,
                    dataType: 'json',
                    type: 'GET',
                    success: function(data) {
                        console.log(data);
                        this.setState({data: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                        console.error('/search/' + search.term, status, err.toString());
                    }.bind(this)
                });
            },
            render: function() {
                return (
                    <div className="searchBox">
                        <h1>Search Component</h1>
                        <SearchForm onSearchSubmit={this.handleSearchSubmit} />
                        <ItemList data={this.state.data} />
                    </div>
                );
            }
        });

        React.render(
            <SearchBox />,
            document.getElementById('content')
        );
    </script>

</body>
</html>